.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-right: 15px;
}

.navbar ul li {
  margin-left: 20px;
}

.tipfp {
  width: 100px;
  margin-right: 20px;
}

.transparent {
  background-color: transparent;
}

.white {
  background-color: #515D78;
}

.navbar-link {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-family: "LeagueSpartan";
  padding-bottom: 10px;
  transition-duration: 0.4s;
}

/* .navbar-link.black{
  color: black;
} */

.navbar-link:hover {
  text-decoration: underline;
  text-decoration-color: #ffb6ad;
  text-decoration-thickness: 3.5px;
}

.navbar-link.active {
  text-decoration: underline;
  text-decoration-color: #ffb6ad;
  text-decoration-thickness: 3.5px;
}

.navbar-icons-section{
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show for smaller screens */
  }

  .navbar-link {
    color: black;
    margin-top: 10px;
  }

  .navbar-link.active {
    text-decoration: none;
  }
  .navbar ul li {
    margin-top: 20px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 7px 10px;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 9;
  }

  .navbar-menu.open {
    left: 0;
    z-index: 9;
  }

  .navbar-icons-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left:20px ;
  }

  .navbar-icon{
    width: 100px;
    height: 40px;
    color:black;
  }


  .tipfp{
    width: 70px;
  }
}

@font-face {
  font-family: "LeagueSpartan";
  src: local("LeagueSpartan"),
    url(../fonts/LeagueSpartan-Bold.woff) format("woff");
}
