.gaming-wrapper {
  background-color: white;
  height: fit-content;
}

.social-section {
  padding-top: 30px;
}

.social-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-title {
  font-family: "LeagueSpartan";
}

.twitch-video {
  width: 600px;
  height: 500px;
}

.yt-container {
  display: flex;
  justify-content: center;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
}

.tiktok-embed-wrapper {
  width: 100%;
  max-width: 780px; /* Adjust the max-width as needed */
  min-width: 288px; /* Adjust the min-width as needed */
  margin: 0 auto; /* Center the embed */
}

.tiktok-embed-container {
  width: 1000px;
  height: 700px; /* Adjust the height as needed */
}

.tiktok-embed-container iframe {
  width: 100%;
  height: 100%;
}

.youtube-link{
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "LeagueSpartan";
  src: local("LeagueSpartan"),
    url(../fonts/LeagueSpartan-Bold.woff) format("woff");
}

@media screen and (max-width: 768px) {
  .social-container {
    display: block;
  }

  .twitch-video{
    max-width: 100%; 
  }

  .twitch-chat {
    width: 600px;
    max-width: 100%; /* Reduce the width to fit smaller screens */
  }

  .thumbnail-link{
    width: 100%;
  }
}
