.gaming-wrapper {
  background-color: white;
  height: fit-content;
}

.social-section {
  padding-top: 30px;
}

.social-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-title {
  font-family: "LeagueSpartan";
}

.twitch-video {
  width: 600px;
  height: 500px;
}

.video-container {
  display: block;
  justify-content: center;
}

.yt-profile-section{
  display: flex;
  justify-content:space-between;
  padding: 10px 95px;
}

.yt-profile{
  display: block;
}

.yt-pic{
  width: 150px;
  border-radius: 50%;
}

.yt2-pic{
  width: 150px;
  border-radius: 50%;
}

.yt3-pic{
  width: 150px;
  border-radius: 50%;
}

.thumbnail-section {
  display: block;
}

.thumbnail{
  margin-top: 10px;
}

.yt-link{
  text-decoration: none;
}

.tiktok-embed-wrapper {
  width: 100%;
  max-width: 780px; /* Adjust the max-width as needed */
  min-width: 288px; /* Adjust the min-width as needed */
  margin: 0 auto; /* Center the embed */
}

.tiktok-embed-container {
  width: 1000px;
  height: 700px; /* Adjust the height as needed */
}

.tiktok-embed-container iframe {
  width: 100%;
  height: 100%;
}

.youtube-link{
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "LeagueSpartan";
  src: local("LeagueSpartan"),
    url(../fonts/LeagueSpartan-Bold.woff) format("woff");
}

@media screen and (max-width: 768px) {
  .social-container {
    display: block;
  }

  .twitch-video{
    max-width: 100%; 
  }

  .twitch-chat {
    width: 600px;
    max-width: 100%; /* Reduce the width to fit smaller screens */
  }

  .yt-profile-section{
    display: block;
    padding: 0;
  }

  .thumbnail{
    column-gap: 10px;
    width: 200px;
  }

  .thumbnail-link{
    width: 100%;
  }

  .react-player {
    width: 100% !important; /* Full width for mobile */
    height: 250px !important; /* Let height adjust to maintain aspect ratio */
  }
}
