.about-section {
  background-color: white;
  display: block;
  padding-top: 20px;
  padding-left: 10px;
  height: 1100px;
  max-height: 100%;
}

.ti-pic {
  width: 815px;
}

.about-paragraph {
  font-weight: bolder;
  color: black;
  text-align: center;
  /* background-color: rgb(172, 172, 172); */
}

.about-text {
  background-color: white;
  font-size: 35px;
  padding: 12px 240px;
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .about-section {
    max-height: 865px; /* Reset max-height */
  }


  .about-text {
    font-size: 18px; /* Reduced font size further for smaller screens */
    padding: 0;
  }

  .ti-pic{
    width: 100%;
  }
  .about-section{
    padding-left: 0;
    padding-top:0 ;
  }
}