.about-section {
  background-color: white;
  display: flex;
  /* padding-top: 20px;
  padding-left: 10px; */
  height: 135vh;
}

.parallax {
  background-image: url("../images/ti-gameradvantage.jpg");
  min-height: 100%;
  min-width: none;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-paragraph {
  padding-top: 350px;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.about-title-section {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}

.about-title {
  color: white;
  font-size: 45px;
  letter-spacing: 8px;
  font-family: "LeagueSpartan";
}

.about-text {
  background-color: #515D78;
  font-size: 30px;
  padding: 12px 240px;
  margin: 8px 0;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .about-section {
    height: 113vh; 
    padding-left: 0;
    padding-top: 0;
  }

  .about-title-section{
    top:30%;
  }

  .about-paragraph{
    padding-top: 350px;

  }
  .about-text {
    font-size: 22px; /* Reduced font size further for smaller screens */
    padding: 0;
    padding-top: 5px;
  }

  .ti-pic {
    width: 100%;
  }

  .parallax{
    background-attachment: scroll;
  }
}
