.bg-wrapper {
  position: relative;
  overflow: hidden;
}


video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.65;
  object-fit: cover;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

.heading-section {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center; /* Center align text */
}

.heading-title {
  font-size: 45px;
}

.Typewriter {
  font-size: 40px;
}

.Typewriter__cursor {
  color: #ffb6ad;
}
