.bg-wrapper {
  position: relative;
  overflow: hidden;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 200px;
  z-index: -1;
  opacity: 0.65;
  object-fit: cover;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  color: white;
  z-index: 1;
}

.heading-section {
  display: block;
}

.heading-title {
  font-size: 55px;
}

.Typewriter {
  font-size: 50px;
}

.Typewriter__cursor {
  color: #ffb6ad;
}
