.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* margin-bottom: 20px; */
  width: 100%;
  height: 100vh; /* Set container height to fill the viewport */
  background-size: cover; /* Ensure the background image covers the container */
  background-position: center; /* Center the background image */
}

.sponsor-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  min-width: 100%;
  min-height: 100%;
  /* height: auto; */
  z-index: -1;
}

.ghost-section,
.gameradvantage-section,
.meta-section,
.altcustoms-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ghost-logo{
  width: 400px;
  padding-bottom: 150px;
}


.gameradvantage-logo{
  width:600px;
  padding-bottom: 250px;
}


.metapc-logo{
  width: 500px;
  padding-bottom: 250px;
}

.altcustoms-logo{
  width: 500px;
}

@media screen and (max-width: 768px) {

  .sponsor-container{
    height: 25vh;
  }
  .ghost-logo {
    width: 200px;
    max-width: 500px;
    z-index: -1;
    padding: 0;
  }

  .gameradvantage-logo {
    width: 300px;
    padding: 0;
  }

  .metapc-logo {
    width: 200px;
    max-width: 100%;
    padding: 0;
  }

  .altcustoms-logo{
    width: 250px;
  }
}


/* .sponsors {
  display: block;
  margin: 0;
  padding: 0;
  height: 1100px;
}

.sponsor-pic {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 200px;
  z-index: -1;
  opacity: 0.85;
  object-fit: cover;
}

.gameradvantage-pic {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 200px;
  z-index: -1;
  object-fit: cover;
}

.ghost-section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameradvantage-section{
  position: absolute;
  top: 175%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.meta-section {
  position: absolute;
  top: 290%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.altcustoms-section{
  position: absolute;
  top: 430%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.metapc-logo {
  width: 400px;
}

.ghost-logo {
  padding-left: 20px;
  width: 500px;
}

.gameradvantage-logo {
  width: 600px;
  padding-right: 15px;
}

.altcustoms-logo{
  width: 500px;
}
.sponsor-link {
  text-decoration: none;
}

@font-face {
  font-family: "Gong";
  src: local("Gong"), url(/src/fonts/Gong.woff) format("woff");
}

@media screen and (max-width: 768px) {

  .sponsors{
    width: auto;
  }
  .sponsor-pic {
    position: relative;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    height: 800px;
  }

  .ghost-logo {
    width: 260px;
    max-width: 500px;
    z-index: -1;
  }

  .gameradvantage-section {
    top: 1220px;
    left: 210px;
  }

  .gameradvantage-logo {
    width: 380px;
    max-width: 600px;
  }

  .meta-section {
    top: 2000px;
    left: 220px;

  }

  .metapc-logo {
    width: 250px;
    max-width: 100%;
  }

  .altcustoms-section{
    top: 2900px;
    left: 220px;
  }

  .altcustoms-logo{
    width: 250px;
  }
}
 */


