.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../images/ti-sponsorbackground.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.sponsor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 160px;
}

.sponsor-title-section {
  display: none;
}
.sponsor-pic {
  width: 200px;
  z-index: -1;
}

.ghost-section,
.gameradvantage-section,
.meta-section,
.scuf-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ghost-logo {
  width: 400px;
}

.gameradvantage-logo {
  width: 600px;
}

.metapc-logo {
  width: 500px;
}

.scuf-logo {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .sponsors {
    display: block;
    height: 108vh;
  }
  .sponsor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    padding: 0;
  }

  .sponsor-title {
    margin: 0;
    background-color: #515d78;
    color: white;
  }
  .ghost-logo {
    width: 250px;
    max-width: 500px;
    z-index: -1;
    padding: 0;
  }

  .gameradvantage-logo {
    width: 350px;
    padding: 0;
  }

  .metapc-logo {
    width: 280px;
    max-width: 100%;
    padding: 0;
  }

  .scuf-logo {
    width: 150px;
  }
}
