.sponsors {
  display: block;
  margin: 0;
  padding: 0;
  height: 1100px;
}

.sponsor-pic {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 200px;
  z-index: -1;
  opacity: 0.85;
  object-fit: cover;
}

.gameradvantage-pic {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 200px;
  z-index: -1;
  object-fit: cover;
}

.ghost-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gameradvantage-section {
  position: absolute;
  top: 2200px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.meta-section {
  position: absolute;
  top: 3700px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.metapc-logo{
  width: 400px;
}

.info-section {
  display: block;
}

.ghost-logo {
  padding-left: 20px;
  width: 500px;
}

.gameradvantage-logo {
  width: 600px;
  padding-right: 15px;
}
.gameradvantage-button-section {
  position: absolute;
  top: 40px;
  right: 2200px;
}

.button-section {
  position: absolute;
  top: 40px;
  left: 2200px;
}

.sponsor-link {
  text-decoration: none;
}

@font-face {
  font-family: "Gong";
  src: local("Gong"), url(/src/fonts/Gong.woff) format("woff");
}

@media screen and (max-width: 768px) {

  .sponsors{
    width: auto;
  }
  .sponsor-pic {
    position: relative;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    height: 800px;
  }

  .ghost-section {
    top: 370px;
    left: 230px;
  }
  .ghost-logo {
    width: 260px;
    max-width: 500px;
    z-index: -1;
  }

  .gameradvantage-section {
    top: 1220px;
    left: 210px;
  }

  .gameradvantage-logo {
    width: 380px;
    max-width: 600px;
  }

  .meta-section {
    top: 2000px;
    left: 220px;
  }

  .metapc-logo {
    width: 250px;
    max-width: 100%;
  }
}
